# URL completa de mi base de datos PostgreSQL
POSTGRES_URL=
# URL de mi base de datos PostgreSQL utilizada por Prisma.
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Clerk public key. Se utiliza en el cliente para iniciar Clerk library.
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
# Clerk private key. Esta clave se utiliza en el lado del servidor para interactuar con Clerk API.
CLERK_SECRET_KEY=

# URL que redirige a los usuarios al iniciar sesión. Debe ser una ruta que maneje el inicio de sesión.
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
# URL que redirige a los usuarios cuando quieren registrarse. Debe ser una ruta que maneje el registro.
NEXT_PUBLIC_CLERK_SIGN_UP_URL=
# URL que redirige a los usuarios después de iniciar sesión con éxito.
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=
# URL que redirige a los usuarios después de registrarse con éxito.
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=